@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Roboto&display=swap');

body {
    background-color:#333676;
    /* background-image: linear-gradient(to top, #2D4571, #152c55); */
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
    font-family: "Fira Sans";
    color:white;
    text-align: center;
    font-size:48px;
}
p,script {
    color:white;
    font-family:Roboto;
    text-align: center;     
}
header {
margin:auto;
}
img.headimg {
    display:block;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
}
main {
    display:block;
    margin:auto;
    margin-top:auto;
    margin-bottom: auto;
}
